/* 
-Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 /24 / 32 / 48 / 64 /80 / 96 / 128
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  max-width: 120rem;
  padding: 0.5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-list li a:link,
.main-nav-list li a:visited {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.main-nav-list li a:hover,
.main-nav-list li a:active {
  color: #017143;
}

.logo {
  height: 4rem;
  cursor: pointer;
}

.hero {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.hero-text-box {
  position: relative;
  max-width: 600px;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 1.2rem;
}

.heading-primary span {
  font-weight: 900;
  color: #017143;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  background-color: #017143;
  transition: all 0.3s;

  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #014f2f;
}

.hero-img {
    width: 600px;
    padding-right: 50px;
    padding-top: 50px;

    display: flex;
    justify-content: flex-end;
}

.hero-img img{
    max-width: 340px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%);
    list-style: none;

    display: flex;
    gap: 2rem;
}

.thumb li{
  cursor: pointer;
  transition: all .3s;

  display: inline-block;
}

.thumb li:hover{
  transform: translate(0,-15px);
}

.thumb li img{
  max-width: 60px;
}

.social-media{
  position: absolute;
  list-style: none;
  top: 50%;
  right: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-media li a{
  filter: invert(1);

  display: inline-block
}

.social-media li img{
  max-width: 20px;
}

.social-media li:first-child img{
  max-width: 16px;
}

.circle{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(600px at right 800px);
}

